.main{
  background-color: rgb(151, 63, 209);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 15px;
  margin: 10px;
}

.row{
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.bottom{
  background-color: rgb(37, 37, 37);
  margin-bottom: -1000px;
}

.text{
  background-color: cornsilk;
  margin: 20px;
  border-radius: 10px;
}

.offer{
  text-align: left;
  background-color: cornsilk;
  margin: 20px;
  border-radius: 10px;
}

HR{
  height:7px;border-width:7; color:rgb(42, 156, 19);background-color:rgb(52, 20, 195);
}

body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(0deg, #1c44f8 5%, #20daab 80%, #8cb910 90%);
  background-size: cover;
  background-attachment: fixed;
}

H3{
  font-size: 24px;
}

p{
  font-size: 25px;
  color: rgb(0, 0, 0);
}

img {
  max-width:100%;
  height:auto;
  border-radius: 20px;
  border-style:ridge;
  border-width: thick;
}

.logo-image{
  overflow: hidden;
  margin-top: -12px;
  margin-bottom: -16px;
  border-style: none;
}

#myBtn{
  display: none;
  position: fixed;
  bottom: 82px;
  right: 27px;
  z-index: 99;
  font-size: 16px;
  border: 5px;
  outline: none;
  background-color: rgb(0, 3, 156);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover{
  background-color: rgb(138, 9, 9);
}

.header{
  background-color: gold;
  display: flex;
  justify-content: space-between;
}

.site-description{
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer{
  display: flex;
  justify-content: flex-end;
}

.navbar{
  background-color: rgb(37,35,35);
  overflow: hidden;
}

.navbar a{
  float: left;
  display: block;
  color: antiquewhite;
  padding: 14px 30px;
  text-align: center;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-right{
  float: right;
}

.navbar a:hover{
  background-color: rgb(16, 223, 171);
  color:black;
}

.navbar a.active{
  background-color: rgb(16, 56, 144);
  color:greenyellow
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

A {
  text-decoration: none;
}
  
  * {
    box-sizing: border-box;
  }
  
  .row:after {
    display: table;
    clear: both;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(28, 28, 29, 0.794);
  }
  
  .modal-content {
    position: relative;
    height: auto;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 700px;
  }
  
  .close {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor:pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor:context-menu;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: relative;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(255, 196, 4, 0.5);
    padding: 20px;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: relative;
    top: 0;
  }
  
  .caption-container {
    text-align: center;
    background-color: rgba(111, 2, 184, 0.719);
    border-radius: 20px;
    padding: 2px;
    margin-top: 21px;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: .3s;
    box-shadow: lawngreen;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.indeximg {
  float:left;
  width: 33%;
}
/*
Style for DF Messenger
style="--df-messenger-bot-message: rgb(39, 119, 248); --df-messenger-button-titlebar-color: #5704dd; --df-messenger-button-titlebar-font-color: rgb(255, 0, 0); --df-messenger-chat-background-color: rgb(122, 121, 121); --df-messenger-font-color: rgba(0,0,0,.87); --df-messenger-input-box-color: rgb(0, 255, 234); --df-messenger-input-font-color: rgb(0, 15, 230); --df-messenger-input-placeholder-font-color: #ce1596; --df-messenger-minimized-chat-close-icon-color: rgba(0,0,0,.87); --df-messenger-send-icon: #e9f542; --df-messenger-user-message: rgb(171, 209, 0); --df-messenger-chip-color: 1000px solid rgb(82, 0, 190); --df-messenger-chip-border-color: #0004ff;"
*/

div.head {
  padding: 20px;
}

@media screen and (min-width: 601px) {
  div.head {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  div.head {
    font-size: 30px;
  }
}

.mySlides {display:none}